@page "/copy-paste"

<div class="row-layout copy-paste-container">
    <div class="column-layout column-layout-1">
        <h5 class="title-1">
            Select all components shown here, and use keyboard shortcut to copy paste
        </h5>
        <IgbInput Label="Label/Placeholder" Outlined="true" class="user-input" copy-paste-scope></IgbInput>
        <IgbInput Label="Label/Placeholder" Outlined="true" class="user-input" copy-paste-scope></IgbInput>
        <IgbInput Label="Label/Placeholder" Outlined="true" class="user-input" copy-paste-scope>
            <span slot="prefix">
                <span class="material-icons icon-1">
                    person
                </span>
            </span>
        </IgbInput>
        <IgbButton class="user-input" copy-paste-scope>
            <span class="material-icons">
                add
            </span>
            <span>Button</span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="user-input" copy-paste-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <span class="tabs">Tabs not yet available in Blazor</span>
    </div>
    <div class="column-layout column-layout-1_1">
        <h5 class="title-1">
            Paste here using context menu and keyboard shortcut
        </h5>
    </div>
</div>

@code {
}
