.copy-paste-container {
    height: 100%;
    align-items: stretch;
}
.column-layout-1 {
    padding: 32.0px;
    width: 400.0px;
    background-color: hsla(var(--igc-surface-500));
    margin: 0.0px;
    flex-shrink: 0;
    align-items: stretch;
}
.column-layout-1_1 {
    padding: 30.0px;
    background-color: hsla(var(--igc-gray-200));
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0.0px;
    flex-shrink: 0;
    align-items: stretch;
}
.h5 {
    height: max-content;
    margin: 8.0px;
    padding: 0.0px;
}
.user-input {
    margin: 8.0px;
    padding: 0.0px;
    height: max-content;
}
.icon-1 {
    margin: 0.0px;
    padding: 0.0px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.tabs {
    flex-shrink: 0;
}
.tab-item {
    align-items: stretch;
    position: relative;
    min-width: 100%;
    min-height: 50px;
}
.row-layout {
    display: flex;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
