@page "/data-grid-layouts"
@inject Northwind_Jason.Northwind_JasonService northwind_JasonService
@inject Northwind.NorthwindService northwindService

<div class="column-layout data-grid-layouts-container">
    <IgbDataGrid DataSource="northwindJasonApiCustomers" Density="ControlDisplayDensity.Cosy" AutoGenerateColumns="false" SelectionMode="GridSelectionMode.None" DefaultColumnMinWidth="136" class="basic-grid" data-grid-layouts-scope>
        <IgbTextColumn HeaderText="customerID" Field="CustomerID" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="companyName" Field="CompanyName" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="contactName" Field="ContactName" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="contactTitle" Field="ContactTitle" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="address" Field="Address" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="city" Field="City" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="region" Field="Region" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="postalCode" Field="PostalCode" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="country" Field="Country" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="phone" Field="Phone" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="fax" Field="Fax" IsFilteringEnabled="true"></IgbTextColumn>
    </IgbDataGrid>
    <IgbDataGrid DataSource="northwindEmployees" Density="ControlDisplayDensity.Cosy" SelectionMode="GridSelectionMode.MultipleRow" EditMode="EditModeType.Row" ColumnMovingMode="ColumnMovingMode.Deferred" AutoGenerateColumns="false" DefaultColumnMinWidth="136" class="basic-grid" data-grid-layouts-scope>
        <IgbDataGridToolbar ToolbarTitle="Grid Toolbar">
            <span>GridToolbarActions not yet available in Blazor</span>
        </IgbDataGridToolbar>
        <IgbNumericColumn HeaderText="employeeID" Field="EmployeeID" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbNumericColumn>
        <IgbTextColumn HeaderText="lastName" Field="LastName" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="firstName" Field="FirstName" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="title" Field="Title" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="titleOfCourtesy" Field="TitleOfCourtesy" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbDateTimeColumn HeaderText="birthDate" Field="BirthDate" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbDateTimeColumn>
        <IgbDateTimeColumn HeaderText="hireDate" Field="HireDate" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbDateTimeColumn>
        <IgbTextColumn HeaderText="street" Field="Address.Street" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="city" Field="Address.City" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="region" Field="Address.Region" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="postalCode" Field="Address.PostalCode" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="country" Field="Address.Country" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="phone" Field="Address.Phone" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="notes" Field="Notes" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="avatarUrl" Field="AvatarUrl" IsResizingEnabled="true" IsEditable="true" IsFilteringEnabled="true"></IgbTextColumn>
    </IgbDataGrid>
</div>

@code {
    private NorthwindJason.ApiCustomersType[] northwindJasonApiCustomers = Array.Empty<NorthwindJason.ApiCustomersType>();
    private Northwind.EmployeesType[] northwindEmployees = Array.Empty<Northwind.EmployeesType>();

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await this.northwindService.GetEmployees() ?? northwindEmployees;
        northwindJasonApiCustomers = await this.northwind_JasonService.GetApiCustomers() ?? northwindJasonApiCustomers;
    }
}
