@page "/"
@inject NavigationManager NavigationManager

<div class="layouts-container row-layout">
    <div class="group_3 row-layout">
        <p class="typography__subtitle-2 text_1">
            Fixed width
        </p>
    </div>
    <div class="group_10 column-layout">
        <div class="group_1 row-layout">
            <div class="group_2 column-layout">
                <div class="group_4 row-layout">
                    <p class="typography__subtitle-2 text_1 text_2">
                        Row / Grow 1, Shrink 0
                    </p>
                </div>
                <div class="group_7 row-layout">
                    <p class="typography__subtitle-2 text_1 text_2">
                        Row / Grow 0, Shrink 0
                    </p>
                </div>
                <div class="group_8 row-layout">
                    <p class="typography__subtitle-2 text_1 text_2">
                        Row / Grow 1, Shrink 0
                    </p>
                </div>
            </div>
            <div class="group_8 group_9 row-layout">
                <p class="typography__subtitle-2 text_1 text_2">
                    Grow 1, Shrink 0
                </p>
            </div>
        </div>
        <div class="group_5 row-layout">
            <p class="typography__subtitle-2 text_1 text_2">
                Grow 1, Shrink 1
            </p>
        </div>
    </div>
    <div class="group column-layout">
        <p class="typography__subtitle-2 text">
            Grow 0, Shrink 0
        </p>
        <div class="group_6 row-layout">
            <p class="typography__subtitle-2 text_1">
                Grow 0, Shrink 0
            </p>
        </div>
    </div>
</div>

@code {
}
