@page "/pickers-combo"

<div class="column-layout pickers-combo-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
        </div>
        <div class="column-layout group_1">
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
        </div>
    </div>
    <div class="row-layout group_2">
        <IgbButton @onclick="@(e => Dropdown?.Toggle(Button))" @ref="Button" class="button" pickers-combo-scope>
            Open dropdown
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbDropdown @ref="Dropdown" class="dropdown" pickers-combo-scope>
            <IgbDropdownItem>
                Option
            </IgbDropdownItem>
            <IgbDropdownItem>
                Option
            </IgbDropdownItem>
            <IgbDropdownItem>
                Option
            </IgbDropdownItem>
        </IgbDropdown>
    </div>
</div>

@code {
    private IgbButton? Button;
    private IgbDropdown? Dropdown;
}
