@page "/position"
@inject NavigationManager NavigationManager

<div class="position-container row-layout">
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_2 row-layout">
        <h5 class="h5_1 h5_2">
            Absolute
        </h5>
    </div>
    <div class="group_3 row-layout">
        <h5 class="h5_1 h5_2">
            Relative top 50px
        </h5>
    </div>
    <div class="group row-layout">
        <h5 class="h5 h5_1">
            Relative bottom 50px
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_4 row-layout">
        <h5 class="h5_1 h5_2">
            Relative right 50px
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
    <div class="group_1 row-layout">
        <h5 class="h5">
            Fixed
        </h5>
    </div>
    <div class="group_5 row-layout">
        <h5 class="h5_1 h5_2">
            Relative
        </h5>
    </div>
</div>

@code {
}
