.row-layout {
    display: flex;
}
.sign-in-page-container {
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout-1 {
    background-color: hsla(var(--igc-gray-200));
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 0.0px;
    padding: 0.0px;
    flex-grow: 1;
    flex-basis: 0;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.column-layout-1 {
    background-color: hsla(var(--igc-surface-500));
    border-color: hsla(var(--igc-gray-400));
    border-width: 2px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin: 0.0px;
    padding: 36.0px;
    width: 500.0px;
    height: max-content;
    flex-shrink: 0;
}
.row-layout-2 {
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    margin: 0.0px 0.0px 32.0px;
    padding: 0.0px;
    height: max-content;
    flex-shrink: 0;
}
.title-1 {
    text-align: center;
    margin: 0.0px 0.0px 32.0px;
    padding: 0.0px;
    height: max-content;
}
.hyperlink {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.text-2 {
    text-align: center;
    margin: 0.0px 0.0px 16.0px;
    padding: 0.0px;
    height: max-content;
}
.user-input {
    margin: 0.0px 0.0px 16.0px;
    padding: 0.0px;
    height: max-content;
}
.user-input_1 {
    margin: 0.0px 0.0px 16px;
    padding: 0.0px;
    height: max-content;
}
.checkbox-1 {
    margin: 0.0px;
    padding: 0.0px;
    width: max-content;
    height: max-content;
}
