@page "/sign-in-page"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="sign-in-page-container row-layout">
    <div class="row-layout-1 row-layout">
        <div class="column-layout-1 column-layout">
            <h5 class="title-1">
                Sign in
            </h5>
            <IgbInput Label="Username" Outlined="false" class="user-input" sign-in-page-scope></IgbInput>
            <IgbInput DisplayType="InputType.Password" Label="Password" Outlined="false" class="user-input_1" sign-in-page-scope></IgbInput>
            <div class="row-layout-2 row-layout">
                <IgbCheckbox class="checkbox-1" sign-in-page-scope>
                    Remember me
                </IgbCheckbox>
                <a class="typography__body-1 hyperlink">
                    Forgot password?
                </a>
            </div>
            <IgbButton class="user-input" sign-in-page-scope>
                Sign in
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="user-input_1" sign-in-page-scope>
                Create a new account
                <IgbRipple></IgbRipple>
            </IgbButton>
            <p class="typography__caption text-2">
                By signing in, you are agreeing to our terms of use and privacy policy
            </p>
        </div>
    </div>
</div>

@code {
}
