@page "/tab-layout"
@inject NavigationManager NavigationManager

<div class="tab-layout-container row-layout">
    <div class="group_2 column-layout">
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
    </div>
    <div class="group_2 column-layout">
        <div class="group row-layout">
            <span class="tabs">Tabs not yet available in Blazor</span>
        </div>
        <div class="group_1 row-layout">
            <span class="tabs">Tabs not yet available in Blazor</span>
        </div>
    </div>
</div>

@code {
}
