@page "/tab-layout"

<div class="row-layout tab-layout-container">
    <div class="column-layout group">
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
        <span class="tabs">Tabs not yet available in Blazor</span>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_1">
            <span class="tabs">Tabs not yet available in Blazor</span>
        </div>
        <div class="row-layout group_2">
            <span class="tabs">Tabs not yet available in Blazor</span>
        </div>
    </div>
</div>

@code {
}
