@page "/type-scale"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="type-scale-container row-layout">
    <div class="group_1 column-layout">
        <h1 class="element">
            This is heading 1
        </h1>
        <h2 class="element">
            This is heading 2
        </h2>
        <h3 class="element">
            This is heading 3
        </h3>
        <h4 class="element"></h4>
        <h5 class="h5">
            This is heading 5 right -aligned
        </h5>
        <h6 class="h6">
            This is heading 6 left-aligned
        </h6>
        <p class="typography__subtitle-1 element">
            This is subtitle 2
        </p>
        <p class="typography__subtitle-2 element">
            This is subtitle 2
        </p>
    </div>
    <div class="group row-layout">
        <h1 class="element_1">
            This is heading 1
        </h1>
        <h2 class="element_1">
            This is heading 2
        </h2>
        <h3 class="element_1">
            This is heading 3
        </h3>
        <h4 class="element_1"></h4>
        <h5 class="element_1">
            This is heading 5 right -aligned
        </h5>
        <h6 class="element_1">
            This is heading 6 left-aligned
        </h6>
        <p class="typography__subtitle-1 element_1">
            This is subtitle 2
        </p>
        <p class="typography__subtitle-2 element_1">
            This is subtitle 2
        </p>
    </div>
</div>

@code {
}
