@page "/type-scale"

<div class="row-layout type-scale-container">
    <div class="column-layout group">
        <h1 class="content">
            This is heading 1
        </h1>
        <h2 class="content">
            This is heading 2
        </h2>
        <h3 class="content">
            This is heading 3
        </h3>
        <h4 class="content"></h4>
        <h5 class="h5">
            This is heading 5 right -aligned
        </h5>
        <h6 class="h6">
            This is heading 6 left-aligned
        </h6>
        <p class="typography__subtitle-1 content">
            This is subtitle 2
        </p>
        <p class="typography__subtitle-2 content">
            This is subtitle 2
        </p>
    </div>
    <div class="row-layout group_1">
        <h1 class="content_1">
            This is heading 1
        </h1>
        <h2 class="content_1">
            This is heading 2
        </h2>
        <h3 class="content_1">
            This is heading 3
        </h3>
        <h4 class="content_1"></h4>
        <h5 class="content_1">
            This is heading 5 right -aligned
        </h5>
        <h6 class="content_1">
            This is heading 6 left-aligned
        </h6>
        <p class="typography__subtitle-1 content_1">
            This is subtitle 2
        </p>
        <p class="typography__subtitle-2 content_1">
            This is subtitle 2
        </p>
    </div>
</div>

@code {
}
